langgraph 
langgraph-sdk 
langgraph-checkpoint-sqlite 
langsmith 
langchain-community 
langchain-core 
langchain-openai 
tavily-python 
wikipedia 
google-generativeai
kokoro>=0.9.4
soundfile
gradio>=4.44.0
pydub